auth_token="auth_token_here" # Generate an API token at https://dash.cloudflare.com/profile/api-tokens with the permission dns_records:edit
zone_identifier="zone_id_here" # Can be found in the "Overview" tab of your domain
record_names=("example.com" "subdomain.example.com") # Records to update
declare -A proxied=( ["example.com"]="false" ["subdomain.example.com"]="true" ) # must be "true"/"false"
ttl="1" # TTL for DNS record. 1 for automatic. 120 is Cloudflare minimum
